# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

# from pprint import pprint
from lxml import html
from lxml.html import fromstring

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [3]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [10]:
#your code
response = requests.get(url)
sopa_git = BeautifulSoup(response.content)
bloques = sopa_git.select('article.Box-row.d-flex')
usuarios = [bloque.select('div.col-md-6:first-of-type')[0] for bloque in bloques ]
nombres = [usuario.select('h1 a')[0].text.strip(' \n') for usuario in usuarios]
usuarios_nick = [usuario.select('p a')[0].text.strip(' \n') for usuario in usuarios] # se truena debido a que ahi tablas donde no tiene nick name de usuario 
respuesta = [f'{user} ({name})' if user != name else user for name, user in zip(nombres, usuarios_nick)]

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [11]:
#your code
respuesta[:10]

['ajcvickers (Arthur Vickers)',
 'sorrycc (chencheng (云谦))',
 'sobolevn (Nikita Sobolev)',
 'monkeyWie (Li Wei)',
 'Mause (Elliana May)',
 'basnijholt (Bas Nijholt)',
 'emilk (Emil Ernerfeldt)',
 'pcuenca (Pedro Cuenca)',
 'stephencelis (Stephen Celis)',
 'fffonion (Wangchong Zhou)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [13]:
# This is the url you will scrape in this exercise
url2 = 'https://github.com/trending/python?since=daily'

In [15]:
#your code
response_2 = requests.get(url2)
sopa_git_2 = BeautifulSoup(response_2.content)
bloques_2 = sopa_git_2.select('article.Box-row')
repo_usuario = [repo.select('h1 a')[0].text.strip('\n ').replace("\n\n    ", "").replace(" ", "") for repo in bloques_2] 
repo_usuario[:10]

['hpcaitech/ColossalAI',
 'vinta/awesome-python',
 'PaddlePaddle/PaddleDetection',
 'bregman-arie/devops-exercises',
 '521xueweihan/HelloGitHub',
 'pre-commit/pre-commit-hooks',
 'public-apis/public-apis',
 'microsoft/recommenders',
 'd8ahazard/sd_dreambooth_extension',
 'open-mmlab/mmdeploy']

#### Display all the image links from Walt Disney wikipedia page

In [16]:
# This is the url you will scrape in this exercise
url3 = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [18]:
#your code
response_3 = requests.get(url3)
sopa_git_3 = BeautifulSoup(response_3.content)
bloques_3 = sopa_git_2.select('a img')
repo_link = [imag['src'] for imag in bloques_3 if bool(imag['src'])]
repo_link[:10]

['https://avatars.githubusercontent.com/u/31818963?s=40&v=4',
 'https://avatars.githubusercontent.com/u/5706969?s=40&v=4',
 'https://avatars.githubusercontent.com/u/23111350?s=40&v=4',
 'https://avatars.githubusercontent.com/u/72588413?s=40&v=4',
 'https://avatars.githubusercontent.com/u/72907851?s=40&v=4',
 'https://avatars.githubusercontent.com/u/652070?s=40&v=4',
 'https://avatars.githubusercontent.com/u/33116358?s=40&v=4',
 'https://avatars.githubusercontent.com/u/4560482?s=40&v=4',
 'https://avatars.githubusercontent.com/u/596651?s=40&v=4',
 'https://avatars.githubusercontent.com/u/178641?s=40&v=4']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [ ]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [40]:
#your code
url4 ='https://en.wikipedia.org/wiki/Python' 
links=[]
response_4 = requests.get(url4)
sopa_git_4 = BeautifulSoup(response_4.content)
bloques_4= sopa_git_4.select('li a')

for link in bloques_4:
    links.append(link['href'])

In [41]:
links[:10]

['#Snakes',
 '#Computing',
 '#People',
 '#Roller_coasters',
 '#Vehicles',
 '#Weaponry',
 '#Other_uses',
 '#See_also',
 '/wiki/Pythonidae',
 '/wiki/Python_(genus)']

#### Number of Titles that have changed in the United States Code since its last release point

In [ ]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [6]:
#your code
url5 ='http://uscode.house.gov/download/download.shtml' 
response_4 = requests.get(url5)
sopa_git_4 = BeautifulSoup(response_4.content, 'html5lib') #sopa = BeautifulSoup(driver.page_source, 'html5lib')
bloques_5= sopa_git_4.select('div.uscitem') #('div.usctitle')
lista_title = []
for info in bloques_5:
    try:
        lista_title.append(info.select('div.usctitle , div.usctitlechanged')[0].text.strip('\n ').replace(" ٭", ""))
    except:
        x=0
lista_title.pop(0)

'All titles in the format selected compressed into a zip archive.'

In [8]:
lista_title

['Title 1 - General Provisions',
 'Title 2 - The Congress',
 'Title 3 - The President',
 'Title 4 - Flag and Seal, Seat of Government, and the States',
 'Title 5 - Government Organization and Employees',
 'Title 6 - Domestic Security',
 'Title 7 - Agriculture',
 'Title 8 - Aliens and Nationality',
 'Title 9 - Arbitration',
 'Title 10 - Armed Forces',
 'Title 11 - Bankruptcy',
 'Title 12 - Banks and Banking',
 'Title 13 - Census',
 'Title 14 - Coast Guard',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 17 - Copyrights',
 'Title 18 - Crimes and Criminal Procedure',
 'Title 19 - Customs Duties',
 'Title 20 - Education',
 'Title 21 - Food and Drugs',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 23 - Highways',
 'Title 24 - Hospitals and Asylums',
 'Title 25 - Indians',
 'Title 26 - Internal Revenue Code',
 'Title 27 - Intoxicating Liquors',
 'Title 28 - Judiciary and Judicial Procedure',
 'Title 29 - Labor',
 'Title 30 - Mineral Lands and Mining',
 'Title 31 - Money and Finance',
 'Title 32 - National Guard',
 'Title 33 - Navigation and Navigable Waters',
 'Title 34 - Crime Control and Law Enforcement',
 'Title 35 - Patents',
 'Title 36 - Patriotic and National Observances, Ceremonies, and Organizations',
 'Title 37 - Pay and Allowances of the Uniformed Services',
 "Title 38 - Veterans' Benefits",
 'Title 39 - Postal Service',
 'Title 40 - Public Buildings, Property, and Works',
 'Title 41 - Public Contracts',
 'Title 42 - The Public Health and Welfare',
 'Title 43 - Public Lands',
 'Title 44 - Public Printing and Documents',
 'Title 45 - Railroads',
 'Title 46 - Shipping',
 'Title 47 - Telecommunications',
 'Title 48 - Territories and Insular Possessions',
 'Title 49 - Transportation',
 'Title 50 - War and National Defense',
 'Title 51 - National and Commercial Space Programs',
 'Title 52 - Voting and Elections',
 'Title 53 [Reserved]',
 'Title 54 - National Park Service and Related Programs']

#### A Python list with the top ten FBI's Most Wanted names

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [9]:
#your code 
url6 ='https://www.fbi.gov/wanted/topten' 
response_6 = requests.get(url6)
sopa_git_6 = BeautifulSoup(response_6.content, 'html5lib') #sopa = BeautifulSoup(driver.page_source, 'html5lib')
bloques_6= sopa_git_6.select('li.portal-type-person.castle-grid-block-item') #('div.usctitle')

nombres_bus = [nombre.text.strip('\n ') for nombre in bloques_6]
nombres_bus

['ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'MICHAEL JAMES PRATT',
 'RUJA IGNATOVA',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [12]:
#your code
url7 ='https://www.emsc-csem.org/Earthquake/'
response_7 = requests.get(url7)
sopa_git_7 = BeautifulSoup(response_7.content, 'html5lib') #sopa = BeautifulSoup(driver.page_source, 'html5lib')
bloques_7= sopa_git_7.select('tr.ligne1') #('div.usctitle')

lista_final=[]
lista_t=[]
for item in bloques_7:
    lugar = item.select('td.tb_region')[0].text.replace("\xa0", "") 
    latitud = item.select('td.tabev1')[0].text.replace("\xa0", "") 
    longitud = item.select('td.tabev1')[1].text.replace("\xa0", "")
    date_time = item.select('b a')[0].text.replace("\xa0", "") 
    lista_t.append(lugar)
    lista_t.append(latitud)
    lista_t.append(longitud)
    lista_t.append(date_time)
    lista_final.append(lista_t)
    lista_t=[]

df = pd.DataFrame(lista_final, columns=['LUGAR','latituf','longitud','dia y tiempo'])
df.head(20)

                         LUGAR latituf longitud          dia y tiempo
0          NORTHERN CALIFORNIA   39.55   122.97  2022-11-1401:31:16.6
1      SUNDA STRAIT, INDONESIA    6.53   105.92  2022-11-1401:13:16.0
2         HALMAHERA, INDONESIA    2.27   129.40  2022-11-1401:06:05.0
3   PERU-ECUADOR BORDER REGION    4.86    80.76  2022-11-1400:54:02.0
4                  PUERTO RICO   18.00    66.90  2022-11-1400:34:49.6
5           ANTOFAGASTA, CHILE   23.15    67.15  2022-11-1400:25:28.0
6     OFFSHORE COQUIMBO, CHILE   32.15    71.78  2022-11-1400:13:27.0
7                CENTRAL ITALY   43.98    13.34  2022-11-1323:44:42.5
8                    BANDA SEA    6.21   130.65  2022-11-1323:35:20.0
9     ISLAND OF HAWAII, HAWAII   19.43   155.26  2022-11-1323:25:07.7
10    ISLAND OF HAWAII, HAWAII   19.18   155.42  2022-11-1323:13:47.1
11     NEAR COAST OF NICARAGUA   12.44    87.78  2022-11-1323:04:22.0
12   PHILIPPINE ISLANDS REGION   12.89   126.04  2022-11-1322:54:20.0
13  OFFSHORE VALPARAISO, CHILE   32.17    71.77  2022-11-1322:28:35.0
14                    PAKISTAN   31.65    73.02  2022-11-1322:12:17.2
15    OFFSHORE COQUIMBO, CHILE   32.15    71.88  2022-11-1322:05:41.2
16          CENTRAL CALIFORNIA   35.69   120.34  2022-11-1321:49:32.6
17              WESTERN TURKEY   38.35    27.17  2022-11-1321:42:10.2
18                 FIJI REGION   20.13   178.01  2022-11-1321:35:29.8
19         STRAIT OF GIBRALTAR   35.46     3.67  2022-11-1321:21:12.9

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://mlh.io/seasons/na-2020/events'

In [13]:
#your code
url8 ='https://mlh.io/seasons/na-2020/events'
response_8 = requests.get(url8)
sopa_git_8 = BeautifulSoup(response_8.content, 'html5lib') #sopa = BeautifulSoup(driver.page_source, 'html5lib')
bloques_8= sopa_git_8.select('div.col-lg-3.col-md-4.col-sm-6') #('div.usctitle')

lista_final=[]
lista_t=[]
for item in bloques_8:
    titulo = item.select('h3.event-name')[0].text.strip('\n ')
    ciudad = item.select('div span:first-of-type')[0].text
    pais = item.select('div span:nth-of-type(2)')[0].text
    date_inicio = item.select('div meta:first-of-type')[0]['content']
    date_termina = item.select('div meta:nth-of-type(2)')[0]['content']
    lista_t.append(titulo)
    lista_t.append(ciudad)
    lista_t.append(pais)
    lista_t.append(date_inicio)
    lista_t.append(date_termina)
    lista_final.append(lista_t)
    lista_t=[]

df = pd.DataFrame(lista_final, columns=['titulo','ciudad','pais','dia inicio','dia termina'])
df.head(20)

,titulo,ciudad,pais,dia inicio,dia termina
0,HackMTY,Monterrey,MX,2019-08-24,2019-08-25
1,Citizen Hacks,Toronto,ON,2019-09-06,2019-09-08
2,PennApps,Philadelphia,PA,2019-09-06,2019-09-08
3,Hackathon de Futuras Tecnologías,Torreón,MX,2019-09-07,2019-09-08
4,Hack the North,Waterloo,ON,2019-09-13,2019-09-15
5,HopHacks,Baltimore,MD,2019-09-13,2019-09-15
6,BigRed//Hacks,Ithaca,NY,2019-09-20,2019-09-22
7,HackRice,Houston,TX,2019-09-20,2019-09-21
8,SBUHacks,Stony Brook,NY,2019-09-20,2019-09-21
9,ShellHacks,Miami,FL,2019-09-20,2019-09-22
10,sunhacks,Tempe,AZ,2019-09-20,2019-09-22
11,Kent Hack Enough,Kent,OH,2019-09-27,2019-09-29
12,MedHacks,Baltimore,MD,2019-09-27,2019-09-29
13,VolHacks,Knoxville,TN,2019-09-27,2019-09-29
14,GirlHacks,Newark,NJ,2019-09-28,2019-09-29
15,GrizzHacks 4,Rochester,MI,2019-09-28,2019-09-29
16,hackNY,New York City,NY,2019-09-28,2019-09-29
17,HackUMBC,Baltimore,MD,2019-09-28,2019-09-29
18,RamHacks,Richmond,VA,2019-09-28,2019-09-29
19,HackTheU,Salt Lake City,UT,2019-10-05,2019-10-06

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [3]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options

In [4]:
#your code
def extraer_info_tw():
    chrome_options = Options()
    chrome_options.add_argument("--headless")
    driver = webdriver.Chrome(options=chrome_options)
    
    import time 
    usuario = input('ingresar usuario ejemplo "@BarackObama":').replace("@", "") 
    #driver = webdriver.Chrome()
    url = f'https://twitter.com/{usuario}'
    try:
        driver.get(url)
        time.sleep(1)
        sopa = BeautifulSoup(driver.page_source)
        bloques2 = sopa.select('div div a span span:first-of-type')
        cantidad = bloques2[2].text.replace('\xa0',' ').replace(',','.')
        driver.quit()
        return print(f'personas siguiendo: {cantidad}')
    except:
        driver.quit()
        return print('NO encontro cuenta')

In [5]:
extraer_info_tw()

ingresar usuario ejemplo "@BarackObama": shakira

personas siguiendo: 233

In [6]:
extraer_info_tw()

ingresar usuario ejemplo "@BarackObama": pabloescobar

NO encontro cuenta

In [7]:
extraer_info_tw()

ingresar usuario ejemplo "@BarackObama": pabloescobar2_

personas siguiendo: 0

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [11]:
#your code
def extraer_info_tw_2():
    chrome_options = Options()
    chrome_options.add_argument("--headless")
    driver = webdriver.Chrome(options=chrome_options)
    
    import time 
    usuario = input('ingresar usuario ejemplo "@BarackObama":').replace("@", "") 
    #driver = webdriver.Chrome()
    url = f'https://twitter.com/{usuario}'
    try:
        driver.get(url)
        time.sleep(1)
        sopa = BeautifulSoup(driver.page_source)
        bloques2 = sopa.select('div div a span span:first-of-type')
        cantidad = bloques2[4].text.replace('\xa0',' ').replace(',','.')
        driver.quit()
        return print(f'personas que la siguen: {cantidad}')
    except:
        driver.quit()
        return print('NO encontro cuenta')

In [12]:
extraer_info_tw_2()

ingresar usuario ejemplo "@BarackObama": shakira

personas que la siguen: 53.3 M

In [13]:
extraer_info_tw_2()

ingresar usuario ejemplo "@BarackObama": pabloescobar

NO encontro cuenta

In [14]:
extraer_info_tw_2()

ingresar usuario ejemplo "@BarackObama": pabloescobar2_

NO encontro cuenta

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [14]:
#your code
url11 ='https://www.wikipedia.org/'
response_11 = requests.get(url11)
sopa_git_11 = BeautifulSoup(response_11.content, 'html5lib') #sopa = BeautifulSoup(driver.page_source, 'html5lib')
bloques_11= sopa_git_11.select('div.central-featured-lang') #('div.usctitle')

lista_final=[]
lista_t=[]
for item in bloques_11:
    idioma = item.select('div strong')[0].text
    cantidad = item.select('small bdi')[0].text.replace("\xa0", ",") 

    lista_t.append(idioma)
    lista_t.append(cantidad)

    lista_final.append(lista_t)
    lista_t=[]

df = pd.DataFrame(lista_final, columns=['idioma','cantidad'])
df.head(20)

      idioma    cantidad
0    English  6,458,000+
1        日本語  1,314,000+
2    Español  1,755,000+
3    Русский  1,798,000+
4   Français  2,400,000+
5    Deutsch  2,667,000+
6   Italiano  1,742,000+
7         中文  1,256,000+
8      فارسی    866,000+
9  Português  1,085,000+

#### A list with the different kind of datasets available in data.gov.uk

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [15]:
#your code 

#your code
url12 ='https://www.data.gov.uk/'
response_12 = requests.get(url12)
sopa_git_12 = BeautifulSoup(response_12.content, 'html5lib') 
bloques_12= sopa_git_12.select('ul.govuk-list.dgu-topics__list') 
bloques_12_2 = bloques_12[0].select('li') 

lista_final=[]
lista_t=[]
for item in bloques_12_2:
    idioma = item.select('h3')[0].text

    lista_t.append(idioma)
    

df = pd.DataFrame(lista_t, columns=['TIPOS'])
df.head(20)

                          TIPOS
0          Business and economy
1             Crime and justice
2                       Defence
3                     Education
4                   Environment
5                    Government
6           Government spending
7                        Health
8                       Mapping
9                       Society
10             Towns and cities
11                    Transport
12  Digital service performance
13    Government reference data

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [17]:
#your code
url13 = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
response_13 = requests.get(url13)
sopa_git_13 = BeautifulSoup(response_13.content, 'html5lib') 
info_tabla = str(sopa_git_13.select('table'))
df = pd.read_html(info_tabla)[1]
df.head()

   Rank          Language Percentageof worldpopulation(2018)
0     1  Mandarin Chinese                              12.3%
1     2           Spanish                               6.0%
2     3           English                               5.1%
3     3            Arabic                               5.1%
4     5             Hindi                               3.5%

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options

In [17]:
# your code
def extraer_info_tw_t():
    chrome_options = Options()
    chrome_options.add_argument("--headless")
    driver = webdriver.Chrome(options=chrome_options)
    lista_twit=[]
    import time 
    usuario = input('ingresar usuario ejemplo "@BarackObama":').replace("@", "") 
    #driver = webdriver.Chrome()
    url = f'https://twitter.com/{usuario}'
    try:
        driver.get(url)
        time.sleep(3)
        chains = ActionChains(driver)
        for _ in range(4):
            chains.scroll_by_amount(0, 500).perform()
            time.sleep(1.5)
        sopa = BeautifulSoup(driver.page_source)
        bloques1 = sopa.select('div[data-testid="cellInnerDiv"]')
        for item in bloques1:
            twit = item.text
            lista_twit.append(twit)
        driver.quit()
        print("Listo")
        return lista_twit 
    except:
        driver.quit()
        return print('NO encontro cuenta')

In [18]:
lista = extraer_info_tw_t()

ingresar usuario ejemplo "@BarackObama": shakira

Listo

In [19]:
len(lista)

7

In [20]:
lista[0]

'Tweet fijadoShakira@shakira·20 oct.#Monotonia @ozuna  YA DISPONIBLE / OUT NOW https://sml.lnk.to/Monotonia277,2\xa0mil reproducciones0:01 / 0:338632.95818,6\xa0mil'

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [2]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
from lxml import html
from lxml.html import fromstring
import html5lib
from urllib.request import Request, urlopen
import re

In [3]:
# your code
url18 =  'https://www.imdb.com/chart/top'
response_18 = requests.get(url18)
sopa_git_18 = BeautifulSoup(response_18.content, 'html5lib')

In [4]:
info_tabla = str(sopa_git_18.select('table.chart.full-width'))

df = pd.read_html(info_tabla)[0]

df = df.drop(columns=['Unnamed: 0','Unnamed: 4','Your Rating'])


info_tabla_2 = sopa_git_18.select('span.secondaryInfo')
info_tabla_3 = sopa_git_18.select('td.titleColumn a[href]')
y1=[]
x1=[]

for x,y  in zip(info_tabla_2, info_tabla_3):
    y1.append(re.sub('\s\(.*','',y['title']))
    x1.append(x.text.strip('()'))
    
df.insert(2,"AÑO",x1,True)
df.insert(3,"director",y1,True)

df.head(10)

,Rank & Title,IMDb Rating,AÑO,director
0,1. Sueño de fuga (1994),9.2,1994,Frank Darabont
1,2. El padrino (1972),9.2,1972,Francis Ford Coppola
2,3. Batman: El caballero de la noche (2008),9.0,2008,Christopher Nolan
3,4. El padrino II (1974),9.0,1974,Francis Ford Coppola
4,5. 12 hombres en pugna (1957),9.0,1957,Sidney Lumet
5,6. La lista de Schindler (1993),8.9,1993,Steven Spielberg
6,7. El señor de los anillos: El retorno del re...,8.9,2003,Peter Jackson
7,8. Tiempos violentos (1994),8.8,1994,Quentin Tarantino
8,9. El señor de los anillos: La comunidad del ...,8.8,2001,Peter Jackson
9,"10. El bueno, el malo y el feo (1966)",8.8,1966,Sergio Leone

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [5]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options
import time

In [6]:
#your code

def peliculas_tab(n):
    n=n
    chrome_options = Options()
    chrome_options.add_argument("--headless")
    driver = webdriver.Chrome(options=chrome_options)
    
    import time 
    url19 =  'https://www.imdb.com/chart/top'
    #driver = webdriver.Chrome()
    driver.get(url19)
    time.sleep(1)
    sopa = BeautifulSoup(driver.page_source)
    bloques19 = sopa.select('tbody.lister-list tr')
    driver.quit()
    nombre=[]
    año=[]
    link=[]
    
    for item in bloques19:
        nombre.append(item.select('td.titleColumn a')[0].text)
        año.append(item.select('span.secondaryInfo')[0].text.strip('()'))
        link.append(item.select('a')[0]['href'])
    
    
    
    import random
    #n=10
    #n es numero de peliculas random a sacar
    numero_random = [random.randint(1,251) for _ in range(n)]
    
    url_b =  'https://www.imdb.com'
    texto_peli=[]
    lista_año=[]
    lista_titulo=[]
    tabla_final=[]

    for i in numero_random:
        chrome_options = Options()
        chrome_options.add_argument("--headless")
        driver = webdriver.Chrome(options=chrome_options)
        link_2 = link[i-1]
        link_n = url_b+link_2
        #driver = webdriver.Chrome()
        driver.get(link_n)
        time.sleep(1)
        sopa_2 = BeautifulSoup(driver.page_source)
        bloques19_2 = sopa_2.select('span[data-testid="plot-xs_to_m"]')
        
        texto_peli.append(bloques19_2[0].text)
        
        lista_titulo.append(nombre[i-1])
        lista_año.append(año[i-1])
        
        driver.quit()
    
    #num_2 = list(map(lambda x: x -1, numero_random))
    
    tabla_final = list(zip(numero_random, lista_titulo, lista_año, texto_peli))
    df = pd.DataFrame(tabla_final, columns=['No. en Lista','titulo','año','descripcion'])
    print('termino')
    return df

In [7]:
tabla= peliculas_tab(10)

termino

In [9]:
tabla.head(10)

,No. en Lista,titulo,año,descripcion
0,9,The Lord of the Rings: The Fellowship of the Ring,2001,A meek Hobbit from the Shire and eight compani...
1,203,The Big Lebowski,1998,"Ultimate L.A. slacker Jeff ""The Dude"" Lebowski..."
2,111,Incendies,2010,Twins journey to the Middle East to discover t...
3,142,A Beautiful Mind,2001,"After John Nash, a brilliant but asocial mathe..."
4,152,No Country for Old Men,2007,Violence and mayhem ensue after a hunter stumb...
5,214,The Terminator,1984,A human soldier is sent from 2029 to 1984 to s...
6,155,The Elephant Man,1980,A Victorian surgeon rescues a heavily disfigur...
7,165,The Bridge on the River Kwai,1957,British POWs are forced to build a railway bri...
8,172,My Neighbor Totoro,1988,When two girls move to the country to be near ...
9,56,Django Unchained,2012,"With the help of a German bounty-hunter, a fre..."

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
#city = city=input('Enter the city:')
#url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [38]:
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&appid=ec5fc137dc493d85cdc8a6aba32cacfc&units=metric'

Enter the city: Dubai

In [39]:
response2 = requests.get(url)

In [40]:
response2

In [41]:
json_books2 = response2.json()

In [42]:
print('La temperatura es',json_books2['main']['temp'] , 'C')

La temperatura es 27.86 C

In [43]:
print('Velocidad del viento',json_books2['wind']['speed'] , 'Km/h')

Velocidad del viento 3.09 Km/h

In [44]:
print('Descripcion:',json_books2['weather'][0]['description'])

Descripcion: clear sky

In [45]:
print('Clima:',json_books2['weather'][0]['main'])

Clima: Clear

#### Book name,price and stock availability as a pandas dataframe.

In [16]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options

In [10]:
#your code

In [17]:
def extraer_info_pagina(driver, pagina):
    driver.get(f'http://books.toscrape.com/catalogue/page-{pagina}.html')
    chains = ActionChains(driver)
    for _ in range(4):
        chains.scroll_by_amount(0, 500).perform()
        time.sleep(1)
    sopa = BeautifulSoup(driver.page_source)
    bloques_20= sopa.select('li.col-xs-6.col-sm-4.col-md-3.col-lg-3')
    #info_tabla = str(sopa.select('table')[0])
    titulo_l = []
    precio =[]
    existencia =[]


    for item in bloques_20:
        titulo_l.append(item.select('h3 a')[0].text)
        precio.append(item.select('div p.price_color')[0].text)
        existencia.append(item.select('p.instock.availability')[0].text.strip('\n '))
        
    tabla_f_libros= list(zip(titulo_l,precio,existencia))
    
    return tabla_f_libros

In [18]:
def extraer_info_total(paginas):
    chrome_options = Options()
    chrome_options.add_argument("--headless")
    driver = webdriver.Chrome(options=chrome_options)
    data_frames = []
    for i in range(1,(paginas+1)):
        print(f'Extrayendo pagina {i} de {paginas}', end = '\r')
        data_frames = data_frames + extraer_info_pagina(driver, i)
    driver.quit()
    print('\n termino')
    df = pd.DataFrame(data_frames, columns=['titulo','precio','stock'])
    return df

In [21]:
prueba = extraer_info_total(10)

Extrayendo pagina 10 de 10
 termino

In [22]:
prueba

                              titulo  precio     stock
0                 A Light in the ...  £51.77  In stock
1                 Tipping the Velvet  £53.74  In stock
2                         Soumission  £50.10  In stock
3                      Sharp Objects  £47.82  In stock
4       Sapiens: A Brief History ...  £54.23  In stock
..                               ...     ...       ...
195                Eureka Trivia 6.0  £54.59  In stock
196  Drive: The Surprising Truth ...  £34.95  In stock
197   Done Rubbed Out (Reightman ...  £37.72  In stock
198          Doing It Over (Most ...  £35.61  In stock
199  Deliciously Ella Every Day: ...  £42.16  In stock

[200 rows x 3 columns]