# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [261]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import html5lib
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [5]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [6]:
#your code
response = requests.get(url)
soup = BeautifulSoup(response.content)
print(soup.prettify()[:1000])

<!DOCTYPE html>
<html data-a11y-animated-images="system" data-color-mode="auto" data-dark-theme="dark" data-light-theme="light" lang="en">
 <head>
  <meta charset="utf-8"/>
  <link href="https://github.githubassets.com" rel="dns-prefetch"/>
  <link href="https://avatars.githubusercontent.com" rel="dns-prefetch"/>
  <link href="https://github-cloud.s3.amazonaws.com" rel="dns-prefetch"/>
  <link href="https://user-images.githubusercontent.com/" rel="dns-prefetch"/>
  <link crossorigin="" href="https://github.githubassets.com" rel="preconnect"/>
  <link href="https://avatars.githubusercontent.com" rel="preconnect"/>
  <link crossorigin="anonymous" href="https://github.githubassets.com/assets/light-719f1193e0c0.css" media="all" rel="stylesheet"/>
  <link crossorigin="anonymous" href="https://github.githubassets.com/assets/dark-0c343b529849.css" media="all" rel="stylesheet"/>
  <link crossorigin="anonymous" data-color-theme="dark_dimmed" data-href="https://github.githubassets.com/assets/dar

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [7]:
#your code
listanombres = [tag.text for tag in soup.select('h1.h3')]
listanick = [tag.text for tag in soup.select('p.f4')]
del listanick[0]

listanombres = [i.replace('\n','').replace(' ','') for i in listanombres]
listanick = [i.replace('\n','').replace(' ','') for i in listanick]

listadef = zip(listanombres , listanick)
print(list(listadef))

[('ArthurVickers', 'ajcvickers'), ('chencheng(云谦)', 'sorrycc'), ('NikitaSobolev', 'sobolevn'), ('LiWei', 'monkeyWie'), ('EllianaMay', 'Mause'), ('BasNijholt', 'basnijholt'), ('EmilErnerfeldt', 'emilk'), ('PedroCuenca', 'pcuenca'), ('StephenCelis', 'stephencelis'), ('WangchongZhou', 'fffonion'), ('BenjaminPasero', 'bpasero'), ('吴晟WuSheng', 'wu-sheng'), ('JonnyBorges', 'jonataslaw'), ('RichardHughes', 'hughsie'), ('AmmarAhmed', 'ammarahm-ed'), ('AlexRogozhnikov', 'arogozhnikov'), ('TobiasKlauser', 'tklauser'), ('StefanProdan', 'stefanprodan'), ('MartinAeschlimann', 'aeschli'), ('SteveMacenski', 'SteveMacenski'), ('NatalieWeizenbaum', 'nex3'), ('ZeeshanAhmad', 'ziishaned'), ('AdamJohnson', 'adamchainz'), ('ChristianDietrich', 'cdietrich'), ('JanoshRiebesell', 'janosh')]

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [8]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [11]:
#your code a.data
linkrepo = requests.get(url)
#linkrepo.status_code
sopa = BeautifulSoup(linkrepo.content)
repos = [tag.text for tag in sopa.select('h1.h3')]
repos = [i.replace('\n','').replace(' ','') for i in repos]
repos

['hpcaitech/ColossalAI',
 'vinta/awesome-python',
 'PaddlePaddle/PaddleDetection',
 'bregman-arie/devops-exercises',
 '521xueweihan/HelloGitHub',
 'pre-commit/pre-commit-hooks',
 'public-apis/public-apis',
 'microsoft/recommenders',
 'd8ahazard/sd_dreambooth_extension',
 'open-mmlab/mmdeploy',
 'mli/autocut',
 'huggingface/setfit',
 'SpyGuard/SpyGuard',
 'GerryDazoo/Slinger',
 'sczhou/CodeFormer',
 'mouredev/Hello-Python',
 'ihabunek/toot',
 'ansible/awx',
 'jackfrued/Python-100-Days',
 'python/cpython',
 'PaddlePaddle/PaddleSpeech',
 'PaddlePaddle/PaddleOCR',
 'microsoft/nni',
 'Azure/azure-sdk-for-python',
 'streamlit/streamlit']

#### Display all the image links from Walt Disney wikipedia page

In [3]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [4]:
#your code img
l = requests.get(url)
sopax = BeautifulSoup(l.content)

a = sopax.select('img')

c = [tag['src'] for tag in a]

c

['//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/38px-Wikisource-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/34px-Wikiquote-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/14px-Commons-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/16px-Wikiquote-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/18px-Wikisource-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/21px-Wikidata-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1',
 '/static/images/footer/wikimedia-button.png',
 '/static/images/footer/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [5]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [18]:
#your code
l = requests.get(url)
sopax = BeautifulSoup(l.content)
a = sopax.select('a')

c = [tag.get('href') for tag in a]
c

[None,
 '#mw-head',
 '#searchInput',
 'https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 '#Snakes',
 '#Computing',
 '#People',
 '#Roller_coasters',
 '#Vehicles',
 '#Weaponry',
 '#Other_uses',
 '#See_also',
 '/w/index.php?title=Python&action=edit&section=1',
 '/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '/wiki/Python_(mythology)',
 '/w/index.php?title=Python&action=edit&section=2',
 '/wiki/Python_(programming_language)',
 '/wiki/CMU_Common_Lisp',
 '/wiki/PERQ#PERQ_3',
 '/w/index.php?title=Python&action=edit&section=3',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/w/index.php?title=Python&action=edit&section=4',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/w/index.php?title=Python&action=edit&section=5',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/w/index.php?title=Python&action=edit&section=6',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Colt_Python',
 '/w/index.php?title=Python&action=edit&section=7',
 '/wiki/Python_(codename)',
 '/wiki/Python_(film)',
 '/wiki/Monty_Python',
 '/wiki/Python_(Monty)_Pictures',
 '/wiki/Timon_of_Phlius',
 '/w/index.php?title=Python&action=edit&section=8',
 '/wiki/Cython',
 '/wiki/Pyton',
 '/wiki/Pithon',
 '/wiki/File:Disambig_gray.svg',
 '/wiki/Help:Disambiguation',
 'https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=1120123765',
 '/wiki/Help:Category',
 '/wiki/Category:Disambiguation_pages',
 '/wiki/Category:Human_name_disambiguation_pages',
 '/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 '/wiki/Category:Disambiguation_pages_with_short_descriptions',
 '/wiki/Category:Short_description_is_different_from_Wikidata',
 '/wiki/Category:All_article_disambiguation_pages',
 '/wiki/Category:All_disambiguation_pages',
 '/wiki/Category:Animal_common_name_disambiguation_pages',
 '/wiki/Special:MyTalk',
 '/wiki/Special:MyContributions',
 '/w/index.php?title=Special:CreateAccount&returnto=Python',
 '/w/index.php?title=Special:UserLogin&returnto=Python',
 '/wiki/Python',
 '/wiki/Talk:Python',
 '/wiki/Python',
 '/w/index.php?title=Python&action=edit',
 '/w/index.php?title=Python&action=history',
 '/wiki/Main_Page',
 '/wiki/Main_Page',
 '/wiki/Wikipedia:Contents',
 '/wiki/Portal:Current_events',
 '/wiki/Special:Random',
 '/wiki/Wikipedia:About',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 '/wiki/Help:Contents',
 '/wiki/Help:Introduction',
 '/wiki/Wikipedia:Community_portal',
 '/wiki/Special:RecentChanges',
 '/wiki/Wikipedia:File_Upload_Wizard',
 '/wiki/Special:WhatLinksHere/Python',
 '/wiki/Special:RecentChangesLinked/Python',
 '/wiki/Wikipedia:File_Upload_Wizard',
 '/wiki/Special:SpecialPages',
 '/w/index.php?title=Python&oldid=1120123765',
 '/w/index.php?title=Python&action=info',
 '/w/index.php?title=Special:CiteThisPage&page=Python&id=1120123765&wpFormIdentifier=titleform',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452',
 '/w/index.php?title=Special:DownloadAsPdf&page=Python&action=show-download-screen',
 '/w/index.php?title=Python&printable=yes',
 'https://commons.wikimedia.org/wiki/Category:Python',
 'https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://ar.wikipedia.org/wiki/%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86_(%D8%AA%D9%88%D8%B6%D9%8A%D8%AD)',
 'https://az.wikipedia.org/wiki/Python',
 'https://bn.wikipedia.org/wiki/%E0%A6%AA%E0%A6%BE%E0%A6%87%E0%A6%A5%E0%A6%A8_(%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%B0%E0%A7%8D%E0%A6%A5%E0%A6%A4%E0%A6%BE_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%B8%E0%A6%A8)',
 'https://be.wikipedia.org/wiki/Python',
 'https://bg.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BF%D0%BE%D1%8F%D1%81%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5)',
 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)',
 'https://da.wikipedia.org/wiki/Python',
 'https://de.wikipedia.org/wiki/Python',
 'https://eo.wikipedia.org/wiki/Pitono_(apartigilo)',
 'https://eu.wikipedia.org/wiki/Python_(argipena)',
 'https://fa.wikipedia.org/wiki/%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86',
 'https://fr.wikipedia.org/wiki/Python',
 'https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%84%A0',
 'https://hr.wikipedia.org/wiki/Python_(razdvojba)',
 'https://io.wikipedia.org/wiki/Pitono',
 'https://id.wikipedia.org/wiki/Python',
 'https://ia.wikipedia.org/wiki/Python_(disambiguation)',
 'https://is.wikipedia.org/wiki/Python_(a%C3%B0greining)',
 'https://it.wikipedia.org/wiki/Python_(disambigua)',
 'https://he.wikipedia.org/wiki/%D7%A4%D7%99%D7%AA%D7%95%D7%9F',
 'https://ka.wikipedia.org/wiki/%E1%83%9E%E1%83%98%E1%83%97%E1%83%9D%E1%83%9C%E1%83%98_(%E1%83%9B%E1%83%A0%E1%83%90%E1%83%95%E1%83%90%E1%83%9A%E1%83%9B%E1%83%9C%E1%83%98%E1%83%A8%E1%83%95%E1%83%9C%E1%83%94%E1%83%9A%E1%83%9D%E1%83%95%E1%83%90%E1%83%9C%E1%83%98)',
 'https://kg.wikipedia.org/wiki/Mboma_(nyoka)',
 'https://la.wikipedia.org/wiki/Python_(discretiva)',
 'https://lb.wikipedia.org/wiki/Python',
 'https://hu.wikipedia.org/wiki/Python_(egy%C3%A9rtelm%C5%B1s%C3%ADt%C5%91_lap)',
 'https://mr.wikipedia.org/wiki/%E0%A4%AA%E0%A4%BE%E0%A4%AF%E0%A4%A5%E0%A5%89%E0%A4%A8_(%E0%A4%86%E0%A4%9C%E0%A5%8D%E0%A4%9E%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80_%E0%A4%AD%E0%A4%BE%E0%A4%B7%E0%A4%BE)',
 'https://nl.wikipedia.org/wiki/Python',
 'https://ja.wikipedia.org/wiki/%E3%83%91%E3%82%A4%E3%82%BD%E3%83%B3',
 'https://no.wikipedia.org/wiki/Pyton',
 'https://pl.wikipedia.org/wiki/Pyton',
 'https://pt.wikipedia.org/wiki/Python_(desambigua%C3%A7%C3%A3o)',
 'https://ru.wikipedia.org/wiki/Python_(%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F)',
 'https://sk.wikipedia.org/wiki/Python',
 'https://sr.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%B2%D0%B8%D1%88%D0%B5%D0%B7%D0%BD%D0%B0%D1%87%D0%BD%D0%B0_%D0%BE%D0%B4%D1%80%D0%B5%D0%B4%D0%BD%D0%B8%D1%86%D0%B0)',
 'https://sh.wikipedia.org/wiki/Python',
 'https://fi.wikipedia.org/wiki/Python',
 'https://sv.wikipedia.org/wiki/Pyton',
 'https://th.wikipedia.org/wiki/%E0%B9%84%E0%B8%9E%E0%B8%97%E0%B8%AD%E0%B8%99',
 'https://tr.wikipedia.org/wiki/Python_(anlam_ayr%C4%B1m%C4%B1)',
 'https://uk.wikipedia.org/wiki/%D0%9F%D1%96%D1%84%D0%BE%D0%BD',
 'https://ur.wikipedia.org/wiki/%D9%BE%D8%A7%D8%A6%DB%8C%D8%AA%DA%BE%D9%88%D9%86',
 'https://vi.wikipedia.org/wiki/Python',
 'https://zh.wikipedia.org/wiki/Python_(%E6%B6%88%E6%AD%A7%E4%B9%89)',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452#sitelinks-wikipedia',
 '//en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License',
 '//creativecommons.org/licenses/by-sa/3.0/',
 '//foundation.wikimedia.org/wiki/Terms_of_Use',
 '//foundation.wikimedia.org/wiki/Privacy_policy',
 '//www.wikimediafoundation.org/',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 '/wiki/Wikipedia:About',
 '/wiki/Wikipedia:General_disclaimer',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 '//en.m.wikipedia.org/w/index.php?title=Python&mobileaction=toggle_view_mobile',
 'https://developer.wikimedia.org',
 'https://stats.wikimedia.org/#/en.wikipedia.org',
 'https://foundation.wikimedia.org/wiki/Cookie_statement',
 'https://wikimediafoundation.org/',
 'https://www.mediawiki.org/']

#### Number of Titles that have changed in the United States Code since its last release point

In [42]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [52]:
#your code
link = requests.get(url)
#link.status_code
usa = BeautifulSoup(link.content , 'html.parser')
a = usa.select('div.usctitlechanged')

len(a)

9

#### A Python list with the top ten FBI's Most Wanted names

In [53]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [61]:
#your code h3.title
link = requests.get(url)
#link.status_code
fbi = BeautifulSoup(link.content , 'html.parser')
a = fbi.select('h3.title')

[tag.text.replace('\n','') for tag in a]

['ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'MICHAEL JAMES PRATT',
 'RUJA IGNATOVA',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [77]:
# This is the url you will scrape in this exercise
url1 = 'https://www.emsc-csem.org/Earthquake/'

In [114]:
#your code
link1 = requests.get(url1)
#link.status_code
quake = BeautifulSoup(link1.content , 'html.parser')
x = pd.read_html(str(quake.select('table')))
x

[    0                                                  1  \
 0 NaN  set_server_date(2022,11,13,21,11,10) Current t...

                         2
 0  Member access Name Pwd  ,
                0              1
 0  Member access  Member access
 1            NaN            NaN
 2           Name            NaN
 3            NaN            NaN
 4            Pwd            NaN
 5            NaN            NaN
 6            NaN            NaN,
                0              1
 0  Member access  Member access
 1            NaN            NaN
 2           Name            NaN
 3            NaN            NaN
 4            Pwd            NaN
 5            NaN            NaN
 6            NaN            NaN,
                                                    0         1
 0  - Sorting by column is performed on the data o...  Glossary,
    CitizenResponse                                  \
      12345678910›» 12345678910›».1 12345678910›».2
 0                1             NaN               F
 1              NaN             NaN             NaN
 2              NaN             NaN             NaN
 3              NaN             NaN             NaN
 4              NaN             NaN             NaN
 5              NaN             NaN             NaN
 6              NaN             NaN             NaN
 7              NaN             NaN             NaN
 8              NaN             NaN             NaN
 9              NaN             NaN             NaN
 10               5             NaN              IV
 11             NaN             NaN             NaN
 12             NaN             NaN             NaN
 13             NaN             NaN             NaN
 14             NaN             NaN             NaN
 15             NaN             NaN             NaN
 16             NaN             NaN             NaN
 17             NaN             NaN             NaN
 18             NaN             NaN             NaN
 19             NaN             NaN             NaN
 20             NaN             NaN             NaN
 21             NaN             NaN             NaN
 22             NaN             NaN             NaN
 23             NaN             NaN             NaN
 24               2             NaN               F
 25             NaN             NaN             NaN
 26             NaN             NaN             NaN
 27             NaN             NaN             NaN
 28             NaN             NaN             NaN
 29             NaN             NaN             NaN
 30               1             NaN               F
 31             NaN             NaN             NaN
 32             NaN             NaN             NaN
 33             NaN             NaN             NaN
 34             NaN             NaN             NaN
 35             NaN             NaN             NaN
 36             NaN             NaN             NaN
 37             NaN             NaN             NaN
 38             NaN             NaN             NaN
 39             NaN             NaN             NaN
 40              10             NaN             III
 41             NaN             NaN             NaN
 42             NaN             NaN             NaN
 43             NaN             NaN             NaN
 44             NaN             NaN             NaN
 45             NaN             NaN             NaN
 46             NaN             NaN             NaN
 47             NaN             NaN             NaN
 48             NaN             NaN             NaN
 49               6             NaN               V
 50             NaN             NaN             NaN
 51   12345678910›»   12345678910›»   12345678910›»
 52             NaN             NaN             NaN

                        Date & Time UTC Latitude degrees                  \
                          12345678910›»    12345678910›» 12345678910›».1
 0       2022-11-13 20:55:02.016min ago            32.14               S
 1       2022-11-13 20:47:33.423min ago            43.25               N
 2       2022-11-13 20:44:42.026min ago            20.03               S
 3       2022-11-13 20:43:28.527min ago            18.61               N
 4       2022-11-13 20:41:20.029min ago            17.09               N
 5       2022-11-13 20:33:38.037min ago            13.62               N
 6       2022-11-13 20:27:40.443min ago            17.96               N
 7       2022-11-13 20:21:51.449min ago            35.51               N
 8       2022-11-13 20:20:36.050min ago            18.43               N
 9   2022-11-13 20:05:08.01hr 06min ago            24.01               S
 10  2022-11-13 19:49:19.01hr 21min ago            38.72               N
 11  2022-11-13 19:47:34.01hr 23min ago            11.95               N
 12  2022-11-13 19:44:31.21hr 26min ago            35.53               N
 13  2022-11-13 19:41:30.01hr 29min ago             6.72               S
 14  2022-11-13 19:40:08.01hr 31min ago            16.03               S
 15  2022-11-13 19:36:33.01hr 34min ago             0.78               N
 16  2022-11-13 19:25:08.01hr 46min ago             0.99               S
 17  2022-11-13 19:16:32.91hr 54min ago            36.99               N
 18  2022-11-13 19:06:32.02hr 04min ago            11.60               N
 19  2022-11-13 19:03:24.02hr 07min ago            19.42               N
 20  2022-11-13 18:53:24.02hr 17min ago            11.29               N
 21  2022-11-13 18:53:17.52hr 17min ago            45.05               N
 22  2022-11-13 18:52:35.02hr 18min ago            23.73               S
 23  2022-11-13 18:51:59.82hr 19min ago            28.59               N
 24  2022-11-13 18:51:18.12hr 19min ago            35.01               N
 25  2022-11-13 18:43:16.02hr 27min ago            30.42               S
 26  2022-11-13 18:40:37.02hr 30min ago             2.09               N
 27  2022-11-13 18:40:36.42hr 30min ago            35.52               N
 28  2022-11-13 18:36:30.02hr 34min ago            10.78               N
 29  2022-11-13 18:22:06.02hr 49min ago             9.69               S
 30  2022-11-13 18:13:58.02hr 57min ago             6.73               S
 31  2022-11-13 17:53:27.03hr 17min ago             2.00               N
 32  2022-11-13 17:51:26.03hr 19min ago             8.33               S
 33  2022-11-13 17:42:52.03hr 28min ago             2.04               S
 34  2022-11-13 17:39:27.63hr 31min ago            19.47               N
 35  2022-11-13 17:22:04.03hr 49min ago             3.97               S
 36  2022-11-13 16:55:57.04hr 15min ago            20.45               S
 37  2022-11-13 16:54:33.04hr 16min ago             8.65               S
 38  2022-11-13 16:37:39.34hr 33min ago             8.25               S
 39  2022-11-13 16:33:26.04hr 37min ago            12.22               N
 40  2022-11-13 16:33:16.14hr 37min ago            45.87               N
 41  2022-11-13 16:22:43.84hr 48min ago            12.94               N
 42  2022-11-13 16:09:59.05hr 01min ago            17.01               N
 43  2022-11-13 16:05:46.25hr 05min ago            37.16               N
 44  2022-11-13 16:04:05.05hr 07min ago            34.42               S
 45  2022-11-13 16:01:38.55hr 09min ago            19.14               N
 46  2022-11-13 15:52:44.05hr 18min ago            37.55               S
 47  2022-11-13 15:44:45.95hr 26min ago            33.63               N
 48  2022-11-13 15:44:33.05hr 26min ago            18.59               S
 49  2022-11-13 15:41:15.05hr 29min ago             6.77               S
 50                                 NaN              NaN             NaN
 51                       12345678910›»    12345678910›»   12345678910›»
 52                                 NaN              NaN             NaN

    Longitude degrees                       Depth km        Mag [+]  \
        12345678910›» 12345678910›».1  12345678910›»  12345678910›»
 0              72.05               W             30              M
 1             127.00               W             10             ML
 2              70.42               W             34              M
 3              66.40               W             70             ML
 4             120.14               E            219              M
 5             125.31               E             18              M
 6              66.96               W             11             Md
 7               3.62               W              9             ML
 8             121.14               E             77              M
 9              67.95               W            249              M
 10             20.62               E              1             ML
 11             87.17               W             29              M
 12              3.62               W              2             ML
 13            107.37               E             10              M
 14             73.82               W             40              M
 15            121.66               E             10              M
 16            100.15               E             44              M
 17            122.24               W              8             Md
 18             87.44               W             32              M
 19            155.28               W             -1             Ml
 20             85.66               W            169              M
 21             25.79               E             27             ML
 22             68.79               W            107              M
 23             17.90               W              8             ML
 24             26.37               E              2             ML
 25             71.27               W             51              M
 26            129.28               E             10              M
 27              3.58               W             16             ML
 28             85.70               W             24              M
 29            119.68               E             45              M
 30            107.35               E             10              M
 31            127.20               E             91              M
 32            116.97               E             10              M
 33            121.23               E             10              M
 34            155.61               W             -2             ML
 35            141.72               E             79              M
 36             69.07               W            101              M
 37            116.98               E            120              M
 38            158.79               E            100             mb
 39             87.97               W             24              M
 40              6.84               E              6             ML
 41             49.44               E             80             mb
 42            120.71               E            121              M
 43              4.06               W             11             ML
 44             70.63               W            107              M
 45            155.49               W             35             Ml
 46             73.81               W             22              M
 47             82.03               E             10             mb
 48             71.07               W             34              M
 49            107.34               E             10              M
 50               NaN             NaN            NaN            NaN
 51     12345678910›»   12345678910›»  12345678910›»  12345678910›»
 52               NaN             NaN            NaN            NaN

    Region name [+]                Last update [-] Unnamed: 12_level_0
      12345678910›»                  12345678910›»       12345678910›»
 0              4.3       OFFSHORE COQUIMBO, CHILE    2022-11-13 20:57
 1              3.0            OFF COAST OF OREGON    2022-11-13 20:59
 2              2.6       OFFSHORE TARAPACA, CHILE    2022-11-13 20:52
 3              2.8             PUERTO RICO REGION    2022-11-13 21:04
 4              3.1             LUZON, PHILIPPINES    2022-11-13 20:55
 5              4.2      PHILIPPINE ISLANDS REGION    2022-11-13 20:50
 6              2.1                    PUERTO RICO    2022-11-13 20:41
 7              1.8            STRAIT OF GIBRALTAR    2022-11-13 20:33
 8              3.0             LUZON, PHILIPPINES    2022-11-13 20:35
 9              3.5             ANTOFAGASTA, CHILE    2022-11-13 20:18
 10             2.8                         GREECE    2022-11-13 20:10
 11             2.8        NEAR COAST OF NICARAGUA    2022-11-13 19:55
 12             2.0            STRAIT OF GIBRALTAR    2022-11-13 19:52
 13             2.9                JAVA, INDONESIA    2022-11-13 19:50
 14             4.0    NEAR COAST OF SOUTHERN PERU    2022-11-13 19:50
 15             3.0  MINAHASA, SULAWESI, INDONESIA    2022-11-13 19:50
 16             2.8    SOUTHERN SUMATRA, INDONESIA    2022-11-13 19:50
 17             2.1   OFFSHORE NORTHERN CALIFORNIA    2022-11-13 19:18
 18             4.1        NEAR COAST OF NICARAGUA    2022-11-13 19:15
 19             2.1       ISLAND OF HAWAII, HAWAII    2022-11-13 19:08
 20             3.1                      NICARAGUA    2022-11-13 19:00
 21             2.5                        ROMANIA    2022-11-13 19:33
 22             2.7             ANTOFAGASTA, CHILE    2022-11-13 19:16
 23             1.9   CANARY ISLANDS, SPAIN REGION    2022-11-13 18:55
 24             3.6                  CRETE, GREECE    2022-11-13 19:19
 25             2.7                COQUIMBO, CHILE    2022-11-13 18:51
 26             3.9           HALMAHERA, INDONESIA    2022-11-13 19:00
 27             1.8            STRAIT OF GIBRALTAR    2022-11-13 18:47
 28             4.0                     COSTA RICA    2022-11-13 19:00
 29             2.9        SUMBA REGION, INDONESIA    2022-11-13 18:35
 30             3.3                JAVA, INDONESIA    2022-11-13 18:20
 31             3.2                    MOLUCCA SEA    2022-11-13 18:00
 32             2.5       LOMBOK REGION, INDONESIA    2022-11-13 18:05
 33             2.8            SULAWESI, INDONESIA    2022-11-13 18:10
 34             2.1       ISLAND OF HAWAII, HAWAII    2022-11-13 17:45
 35             3.8   NEW GUINEA, PAPUA NEW GUINEA    2022-11-13 17:30
 36             3.4                TARAPACA, CHILE    2022-11-13 17:26
 37             2.7       LOMBOK REGION, INDONESIA    2022-11-13 17:05
 38             4.7                SOLOMON ISLANDS    2022-11-13 17:26
 39             2.8        NEAR COAST OF NICARAGUA    2022-11-13 16:41
 40             2.5                         FRANCE    2022-11-13 17:09
 41             4.5                   GULF OF ADEN    2022-11-13 18:24
 42             3.1             LUZON, PHILIPPINES    2022-11-13 16:20
 43             1.8                          SPAIN    2022-11-13 16:12
 44             2.7    LIBERTADOR O'HIGGINS, CHILE    2022-11-13 16:26
 45             2.0       ISLAND OF HAWAII, HAWAII    2022-11-13 16:07
 46             2.7        OFFSHORE BIO-BIO, CHILE    2022-11-13 16:15
 47             4.1                 WESTERN XIZANG    2022-11-13 16:19
 48             2.9   OFF COAST OF TARAPACA, CHILE    2022-11-13 16:06
 49             4.1                JAVA, INDONESIA    2022-11-13 15:50
 50             NaN                            NaN                 NaN
 51   12345678910›»                  12345678910›»       12345678910›»
 52             NaN                            NaN                 NaN  ]

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [123]:
# This is the url you will scrape in this exercise
url2 ='https://mlh.io/seasons/na-2020/events'

In [150]:
link1 = requests.get(url2)
sopa = BeautifulSoup(link1.content)
hack = sopa.select('h3.event-name')

event_name = [tag.text for tag in hack]
#event = [i.replace('\n','') for i in event]
#event.split(' ')
event_name

hack2 = sopa.select('p.event-date')

event_date = [tag.text for tag in hack2]
event_date = [i.replace(' ','') for i in event_date]
event_date

hack3 = sopa.select('div.event-location')

event_location = [tag.text for tag in hack3]
event_location = [i.replace(' ','').replace('\n','') for i in event_location]
event_location

dicti = {'Event Name' : event_name , 'Event Date' : event_date , 'Event Location' : event_location}

df = pd.DataFrame(dicti)
df

                             Event Name    Event Date        Event Location
0                               HackMTY  Aug24th-25th          Monterrey,MX
1                         Citizen Hacks    Sep6th-8th            Toronto,ON
2                              PennApps    Sep6th-8th       Philadelphia,PA
3     Hackathon de Futuras Tecnologías     Sep7th-8th            Torreón,MX
4                        Hack the North  Sep13th-15th           Waterloo,ON
..                                  ...           ...                   ...
146           Same Home Different Hacks  Jun12th-14th  Everywhere,Worldwide
147                    Hack Girl Summer  Jun19th-21st  Everywhere,Worldwide
148                   Def Hacks Virtual  Jun20th-21st  Everywhere,Worldwide
149                      Data Day Grind  Jun27th-28th  Everywhere,Worldwide
150                              HackTJ  Dec12th-13th         Alexandria,VA

[151 rows x 3 columns]

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url3 = 'https://twitter.com/elonmusk?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'

In [214]:
# esto funciona, pero cuando se vuelve a cargar el cuaderno falla

usuario = input()
url = f'https://twitter.com/{user}'
driver = webdriver.Chrome()

try:
    driver.get(url)
    source = driver.page_source
    sopa = BeautifulSoup(source)
    tweets = sopa.select("div [class = 'css-1dbjc4n r-1habvwh'] > div[dir='auto']")
    num = tweets[0].text
    driver.quit()
    print(num)
    
except:
    print('usuario invalido')
    driver.quit()

 a

usuario invalido

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [230]:
#your code me obliga a registrarme
user = input()
url = f'https://twitter.com/{user}'
driver = webdriver.Chrome()

try:
    driver.get(url)
    source = driver.page_source
    soup = BeautifulSoup(source)
    follow = soup.select('div.css-1dbjc4n')
    followers = follow[7].text
    driver.quit()
    print(followers)
    
except:
    print('usuario invalido')
    driver.quit()

 amazon

No te pierdas lo que está pasandoLos usuarios de Twitter son los primeros en enterarse.Iniciar sesiónRegístrate

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [234]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [256]:
#your code
link1 = requests.get(url)
sopa = BeautifulSoup(link1.content)
hack = sopa.select('small')

event_name = [tag.text.replace('+','').replace(u'\xa0', ' ') for tag in hack]

event_name = event_name[1:10]

df=pd.DataFrame(event_name ,columns=['articles'])
df

              articles
0         1 314 000 記事
1  1 755 000 artículos
2   2 400 000 articles
3     1 798 000 статей
4    2 667 000 Artikel
5       1 742 000 voci
6    1 256 000 条目 / 條目
7        866 000 مقاله
8    1 085 000 artigos

#### A list with the different kind of datasets available in data.gov.uk

In [257]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [259]:
#your code 
link1 = requests.get(url)
sopa = BeautifulSoup(link1.content)
hack = sopa.select('a.govuk-link')

event_name = [tag.text.replace('+','').replace(u'\xa0', ' ') for tag in hack]
event_name[4:]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [265]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [275]:
#your code
link1 = requests.get(url)
sopa = BeautifulSoup(link1.content)
#hack = sopa.select('table')
x = pd.read_html(str(sopa.select('table')))
x[0]

,Language,Native speakers(millions),Language family,Branch
0,"Mandarin Chinese(incl. Standard Chinese, but e...",920.0,Sino-Tibetan,Sinitic
1,Spanish,475.0,Indo-European,Romance
2,English,373.0,Indo-European,Germanic
3,Hindi(excl. Urdu),344.0,Indo-European,Indo-Aryan
4,Bengali,234.0,Indo-European,Indo-Aryan
5,Portuguese,232.0,Indo-European,Romance
6,Russian,154.0,Indo-European,Balto-Slavic
7,Japanese,125.0,Japonic,Japanese
8,Yue Chinese(incl. Cantonese),85.2,Sino-Tibetan,Sinitic
9,Vietnamese,84.6,Austroasiatic,Vietic
10,Marathi,83.1,Indo-European,Indo-Aryan
11,Telugu,82.7,Dravidian,South-Central
12,Turkish,82.2,Turkic,Oghuz
13,Wu Chinese(incl. Shanghainese),81.8,Sino-Tibetan,Sinitic
14,Korean,81.7,Koreanic,language isolate
15,French,79.9,Indo-European,Romance
16,Tamil,78.4,Dravidian,South
17,Standard German,75.6,Indo-European,Germanic
18,Egyptian Spoken Arabic(excl. Saʽidi Arabic),74.8,Afroasiatic,Semitic
19,Urdu(excl. Hindi),70.2,Indo-European,Indo-Aryan
20,Javanese,68.3,Austronesian,Malayo-Polynesian
21,Western Punjabi(excl. Eastern Punjabi),66.4,Indo-European,Indo-Aryan
22,Italian,64.8,Indo-European,Romance
23,Gujarati,57.0,Indo-European,Indo-Aryan
24,Iranian Persian(excl. Dari and Tajik),56.4,Indo-European,Iranian
25,Bhojpuri,52.3,Indo-European,Indo-Aryan
26,Hausa,50.8,Afroasiatic,Chadic

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [276]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [277]:
# your code
link1 = requests.get(url)
sopa = BeautifulSoup(link1.content)
#hack = sopa.select('table')
x = pd.read_html(str(sopa.select('table')))
x[0]

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. El padrino (1972),9.2,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. Batman 2: El caballero de la noche (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. El padrino II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. Doce hombres en pugna (1957),9.0,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. Dersu Uzala (1975),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. Aladdin (1992),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,248. Historias cruzadas (2011),8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. Gandhi (1982),8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. The Iron Giant (1999),8.0,12345678910 NOT YET RELEASED Seen,NaN

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [278]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

#cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401 for more info."

Enter the city: a

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [279]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [296]:
#your code
link1 = requests.get(url)
sopa = BeautifulSoup(link1.content)
hack = sopa.select('h3')
titulo = [tag.text for tag in hack]


hack2 = sopa.select('p.price_color')
titulo2 = [tag.text for tag in hack2]



hack3 = sopa.select('.instock ')
titulo3 = [tag.text.replace('\n' , '').replace(' ' , '') for tag in hack3]

dicti = {'Titulo' : titulo , 'Precio' : titulo2 , 'Disponibilidad' : titulo3}

df = pd.DataFrame(dicti)
df

                                   Titulo  Precio Disponibilidad
0                      A Light in the ...  £51.77        Instock
1                      Tipping the Velvet  £53.74        Instock
2                              Soumission  £50.10        Instock
3                           Sharp Objects  £47.82        Instock
4            Sapiens: A Brief History ...  £54.23        Instock
5                         The Requiem Red  £22.65        Instock
6            The Dirty Little Secrets ...  £33.34        Instock
7                 The Coming Woman: A ...  £17.93        Instock
8                     The Boys in the ...  £22.60        Instock
9                         The Black Maria  £52.15        Instock
10  Starving Hearts (Triangular Trade ...  £13.99        Instock
11                  Shakespeare's Sonnets  £20.66        Instock
12                            Set Me Free  £17.46        Instock
13    Scott Pilgrim's Precious Little ...  £52.29        Instock
14                      Rip it Up and ...  £35.02        Instock
15                  Our Band Could Be ...  £57.25        Instock
16                                   Olio  £23.88        Instock
17        Mesaerion: The Best Science ...  £37.59        Instock
18           Libertarianism for Beginners  £51.33        Instock
19                It's Only the Himalayas  £45.17        Instock